@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* .... */

/* Основні стилі */
body {
	font-family: "KoPubBatang", serif;
	color: #fff;
	font-size: 18px;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
    
}

.main__section-fleurs{
    background: #F8F3EC;
}

[class*="__container"]{
    max-width: 1230px;
    margin: 0 auto;
}

.main__fleurs{
    display: flex;
    gap: 31px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.fleur__section {
    flex : 0 0 33.333%;
    
}

.items {
    flex-direction: column;
    color: black;
}

.item {
    display: flex;
	flex-direction: column;
	flex: 1 1 200px;
    gap: 14px;
    margin-bottom: 14px;;
}

[class*="--margin_bottom"] {
  margin-bottom: 50px;
}

.item__link {
    display: flex;
    overflow: hidden;
}

.item__link img{
    width: 100%;
    height: 100%;
    aspect-ratio: 400 / 427;
    object-fit: cover;
    transition: transform 0.3s;    
}

.item__info {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.item__name {
    font-size: 20px;
    font-weight: 400;
    color: #2C2C2C;
}
.item__cta {
    display: flex;
    gap: 20px;
}
.item__price {
    font-family: "Carme", sans-serif;
    font-weight: 400;
    color: #4E4E4E;
    font-size: 18px;
}


.fleur__button button{
    color: #2C2C2C;
    background-color: #DBCCBA;
    padding: 9px 30px;
    outline: 2px solid #DBCCBA;
    outline-offset:9px;
    transform: translate(11px);
    margin-bottom: 10px;
}

.fleur__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 37px;
    font-size: 24px;
    color: black;
    align-content: start;
}


.fleur__block h2{
    font-size: 60px;
    grid-column: 1 / span 2;
    padding-top: 52px;
    padding-bottom: 50px;
    font-weight: 300;
}

.fleur__button button::after{
    content: "";
    background-image: url("../img/right_arrow.svg");
	background-position: right;
	background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
    width: 23px;
    height: 14px;
}

@media (any-hover:hover){
    .item:hover .item__link > img{
    transform: scale(1.1);
    }
}

@media(max-width: 767px){
    .main__fleurs{
        flex-direction: column-reverse;
		gap: 15px;
        padding: 0px 10px;
    }

    .fleur__section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        
    }

    .fleur__button--item-span{
        grid-column: span 2;
        display: flex;
        justify-content: center;
    }

    .fleur__button button{
        width: 80%;

    }

    [class*="--margin_bottpm"]{
        margin-bottom: 0px;
    }

    .fleur__block{
        row-gap: 30px;
    }

    .main__fleurs{
        padding-top: 20px;
    }

    .fleur__block h2{
        font-size: 52px;
        padding: 20px 0px;
    }

}

@media(max-width: 430px){
    .fleur__block{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        column-gap: 15px;
        row-gap: 20px;
        font-size: 20px;
    }

    .fleur__block h2{
        grid-column: 1;
        font-size: 42px;
        padding: 20px 0px;
    }

    .fleur__section{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        
    }

    .fleur__button--item-span{
        grid-column: span 1;
    }

    .main__fleurs{
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

}



/* ========= Eco Bazar ========== */

.feature-products__container{
    padding-bottom: 40px;
}

.feature-products__container{
    max-width: 1350px;
    margin: 0 auto;
}

/* Product cards */
.products__cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 3px;
}

.card_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card__item {
    flex: 1 1 260px;
    border: 1px solid #E6E6E6;
    position: relative;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin: 0 -1px -1px 0;
    max-width: 350px;
    overflow: hidden;
    
}

.section__one .card__item {
    min-width: 250px;
    scroll-snap-align: start center;
}
.card__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 246 / 246;
    padding: 5px;
    vertical-align: middle;
    transition: transform 0.3s;
}
.card__info {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #1A1A1A;
    font-weight: 400;
}

.card__info p{
    font-size: 16px;
}

h3{
    color: #4D4D4D;
    font-size: 14px;
}

p{
    font-weight: 500;
    
}

/* CTA - call to action block */

.card__cta {
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;
    right: 11px;
    top: 10px;
    gap: 6px;
    
}

.cta__add-to-wish,
.cta__quick-view,
.element__info .card__add-to-bag{
    position: relative;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.cta__add-to-wish button,
.cta__quick-view button{
    position: relative;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
}


.card__item:hover .cta__add-to-wish,
.card__item:hover .cta__quick-view{
    visibility: visible;
    opacity: 1;
}

.card__add-to-bag{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    background-color:#F2F2F2 ;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.card__add-to-bag img{
    opacity: 1;
}

.card__item:hover{
    border:1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    z-index: 2;
    
}

.card__item:hover .card__add-to-bag img{
    opacity: 0;
}

.card__item:hover .card__add-to-bag {
    background-color: #00B207;
    background-image: url('../img/bag-white.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.card__item:hover .card__info > h3{
    color: #2C742F;
}

.section__one{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
    margin: -10px -15px;
    padding: 10px 15px 10px 15px;
}

.section__wrapper{
    display: grid;
    row-gap: 20px;
}

[class*="--section-grid"]{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 16px;
}

.section__hot-deals h3,
.section__best-seller h3,
.section__top-rated h3{
    font-size: 18px;
    font-weight: 600;
}

.section__two{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(min(312px, 100%), 1fr));
    column-gap: 24px;
    row-gap: 16px;
    font-family: "Poppins", sans-serif;
    
}

.element{
    display: flex;
    color: #4D4D4D;
    align-items: center;
    border: 1px solid #E6E6E6;
    position: relative;
    gap: 12px;
    font-family: "Poppins", sans-serif;
    overflow: hidden;

}

.element__image{
    max-width: 102px;
    transition: transform 0.3s;
}

.cta__add-to-wish:hover svg,
.cta__quick-view:hover img{
    transform: scale(1.15);
}

.section__add:hover a>img,
.card__item:hover img,
.element:hover a>img{
    transform: scale(1.1);
}

.element__info h4{
    font-weight: 400;
    color: #4D4D4D;
    line-height: 1.5;
}

.element__info span{
    
    font-weight: 500;
    color: #1A1A1A;
}

.element:hover{
    border: 1px solid #00B207;
    
}

.element:hover h4{
    color: #2C742F;
}


.element:hover .cta__add-to-wish,
.element:hover .cta__quick-view,
.element:hover .card__add-to-bag{

    visibility: visible;
    opacity: 1;
    z-index: 5;
}

.element:hover .card__cta--alt{
    background-color: #fff;
}


.element__info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.element__info .card__cta{
    display: flex;
    flex-direction: row;
    
}

.card__cta--alt{
    left:102px;
    top: 45%;
    gap: 12px;
    flex: 1 1 200px;
}

.card__cta--alt > .cta__add-to-wish,
.card__cta--alt .cta__quick-view {
  width: 40px;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
}

.card__cta--alt > .card__add-to-bag {
  bottom: 0px;
  right: 0px;
  background: none;
}

.card__cta--alt > .cta__quick-view:hover path,
.card__cta--alt > .card__add-to-bag:hover path,
.card__cta--alt > .cta__add-to-wish:hover path{
    stroke: #fff;
}

.card__cta--alt > .cta__quick-view:hover svg,
.card__cta--alt > .card__add-to-bag:hover svg,
.card__cta--alt > .cta__add-to-wish:hover svg
{
    fill: #00B207;
}

.card__cta--alt > .cta__quick-view:hover,
.card__cta--alt > .card__add-to-bag:hover,
.card__cta--alt > .cta__add-to-wish:hover {
    background-color: #00B207;
}

.section__add {
    overflow: hidden;
    max-width: 100%;
}

.add__section{
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    gap: 16px;
    min-width: max-content;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #4D4D4D;
 
}

.add__image{
    width: 100%;         
    height: 100%;
    display: block;
    object-fit: cover;
}

.add__section h3{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
}

.add__section span,
.add__section p{
    font-size: 32px;
    font-weight: 600;
    color: #00B207;
    line-height: 120%;
    max-width: 150px;
}

.add__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add__section a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    background-color: #FFF;
    border-radius: 43px;
    color: #00B207;
    font-weight: 600;
}

.add__section a::after{
    content: "";
    background-image: url("../img/add_arrow.svg");
    background-position: right;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 23px;
    height: 14px;
    margin-left: 8px;
    position: relative;
    z-index: 3;
}

.add__section a:hover::after{
    left: 8px;
    
}

.section__add{
    position: relative;
}

.add__info p {
    font-weight: 400;
    color: #1A1A1A;
}

.add__info span{
    color: #1A1A1A;
}

.section__add img{
    transition: all 0.3s;
}

.someExtra{
    position: relative;
}


@media (max-width:1200px){
    .section__two{
        grid-template-columns: repeat(3, 1fr);
        padding: 0 3px;
        
    }
    .section__add{
        display: grid;
        grid-template-rows: minmax(auto, 150px);
        
    }

    .add__info h3{
            font-size: 16px;
        
        }
    .add__info p,
    .add__info span{
        font-size: 16px;
    }

    .section__one{
        padding: 0 15px;
    }

}

@media (max-width:940px){
    .section__two{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    [class*="--margin_bottpm"]{
        margin-bottom: 25px;
    }
    
}

@media (max-width:540px){
    .section__two{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}