@import url("reset.css");

body {
	font-family: "Gilroy", sans-serif;
	background-color: #333;
	color: #fff;
}
.wrapper {
	/* overflow: clip; */
	min-height: 100%;
}


.hover-example {
    max-width: 1050px;
    margin: 0 auto;
    height: 120px;
    text-align: center;
    line-height: 120px; 
}

a{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.image{
    display: none;
}

a:hover{
    color: #4343be;
    font-size: 40px;
    text-decoration:underline;
    text-decoration-style: double;
    text-decoration-color: violet;
    cursor: pointer;
}

 a:hover ~ .hover-example{
    background-color: aqua;
 }

a:hover ~ .image{
    display: inline-block;
}
a:active{
    color: #4343bea2;
    text-decoration-color: rgba(238, 130, 238, 0.459);
}

.text-block {
    width: 200px;
    margin: 0 auto;
    line-height: 25px;
    letter-spacing: 3px;
}

 .text-block p{
    color: green;
}



/* .text-block > div div { 
    color: white; /* ✅ Prevents inner divs from inheriting green 
} 
*/


/*
.text-block ~ div{
    color: red;
}

.text-block + div{
    color: violet;
}

.first-child ~ div{
    color: aqua;
} */

.block-visited{
    font-size: 0;
}
a:visited{ /* does not work with target='_blank'*/  
    color: lightgreen;
}

.block-visited a:last-child {
    color: #0b0bd8;
}

.block-visited a:first-child{
    color:magenta;
}

.block-visited a:nth-child(odd){
    color: mediumpurple;
}

.block-visited a:not(:last-child){
    color: forestgreen;
}

.block-visited a:not(:last-child){
    margin-right: 15px;
}

.block-visited a:first-child{
    padding-left: 15px;
}