@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
	font-family: "Gilroy", sans-serif;
	background-color: #fff;
	color: #fff;
	
    
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	
}

.page-section {
	position: relative;
 }
 .page-section__background {
	position: absolute;
	inset: 0;
	z-index: -1;
 }
 .page-section__background svg {
	width: 100%;
	height: 100%;
	display: block;
 }
	


.header{
	min-height: 50px;
	/* background-color: white; */
}

[class*="__container"]{
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
	font-size: 0;
	
}
.header__container{
	font-size: 24px;
	padding: 150px 0;
	color: black;
}

.page__container{
	position: relative;
}

.content__image{
	max-width: 35%;
	display: inline-block;
	vertical-align: top;
	height: 548px;
	position: relative;

}

.content__image img:not(:last-child){
	position: relative;
	width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 4.65% / 3.65%;
	position: relative;
	z-index: 101;
	top: -90px;
}

.img-background{
	width: 100%;
	position: absolute;
	left: 0;
	top: -2%;
	filter: blur(25px);
	border-radius: 20px;
	z-index: 100;
	
}

.content__text{
	display: inline-block;
	width: 55%;
	padding: 50px 50px 40px 70px;
}

h2{
	font-size: 36px;
	font-family:"Circular Std", sans-serif ;
	
}

p{
	max-width: 480px;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
	font-size:18px ;
	padding: 13px 0 40px 0;
	
}

.button{
	display: inline-block;
	color: #FFF;
	padding: 21.5px 26px;
	background-color: #F35B09;
	border-radius: 60px;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button:hover{
	opacity: 0.8;
	cursor: pointer;
}

.background-dots{
	position: absolute;
	left: -80px;
	top: 320px; 
	
}

.big-cycle{
	position: absolute;
	left: -7%;
	top: 20%;
}

.small-cycle{
	position: absolute;
	left: -7%;
	top: 10%;
}
