@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
	font-family: "Gilroy", sans-serif;
	background-color: #fff;
	color: #fff;
	
    
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	
}

.page-section {
	position: relative;
 }
 .page-section__background {
	position: absolute;
	inset: 0;
	z-index: -1;
 }
 .page-section__background svg {
	width: 100%;
	height: 100%;
	display: block;
	
 }
	


.header{
	min-height: 50px;
	/* background-color: white; */
	font-size: 24px;
	padding: 150px 0;
	color: black;
	max-width: 1260px;
    margin: 0 auto;
	padding-left: 15px;
}

[class*="__container"]{
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
	font-size: 0;
	
}

.content{
	position: relative;
}

.content__image{
	max-width: 35%;
	display: inline-block;
	vertical-align: top;
	height: 548px;
	position: relative;

}

.content__image img:not(.img-background){
	position: relative;
	width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 4.65% / 3.65%;
	position: relative;
	z-index: 101;
	top: -90px;
}


.img-background{
	width: 100%;
	position: absolute;
	left: 0;
	top: -2%;
	filter: blur(25px);
	border-radius: 20px;
	z-index: 100;	
}

.content__text{
	display: inline-block;
	width: 60%;
	padding: 50px 50px 40px 70px;
}

h2{
	font-size: 36px;
	font-family:"Circular Std", sans-serif ;
	
}

p{
	max-width: 480px;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
	font-size:18px ;
	padding: 13px 0 40px 0;
	
}

.button{
	display: inline-block;
	color: #FFF;
	padding: 21.5px 26px;
	background-color: #F35B09;
	border-radius: 60px;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button:hover{
	color: #F35B09;
	background-color: #fff;
	cursor: pointer;
}

.background-dots--technology{
	position: absolute;
	left: -80px;
	top: 320px; 
	z-index: 100;
	
}

.big-cycle--technology{
	position: absolute;
	left: -7%;
	top: 10%;

}

.small-cycle--technology{
	position: absolute;
	left: -7%;
	top: 5%;
}


.platform-text{
	width: 65%;
	padding-left: 250px;
}

.background-dots--platform{
	position: absolute;
	right: -180px;
	top: 100px;
}

.middle-cycle--platform {
	position: absolute;
	right: -130px;
	top: -110px;
}
.small-cycle--platform {
	position: absolute;
	right: 260px;
	top: -140px;
	z-index: 102;
}

/* Product card */

.container-product{
	background-color: #fff;
	margin: 0 auto;
	max-width: 1260px;
	padding-bottom: 200px;
}
.product-card {
	width: 264px;
	height: 327px;
	border: 1px solid #E6E6E6;
	font-size: 0;
	margin: 0 auto;
}

.product-card__wrap{
	padding: 5px;
	position: relative;
	
}
.product-card__image {
	width: 254px;
    height: 230px;
	object-fit: cover;

}

.product-card__section{
	padding: 12px;
	width: 100%;
	color: #1A1A1A;
}
.product-card__info {
	display: inline-block;

}

.info__title {
	font-size: 14px;
	line-height: 150%;
	color: #4D4D4D;
	font-family: 'Poppins',sans-serif;
}
.info__price {
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	font-family: 'Poppins',sans-serif;
}
.product-card__shopping-button {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
    text-align: right; 
}

.shopping-button__image{
	position: relative;
	left: 32%;
	bottom: 12px;
	z-index: 100;
}

.shopping-button__background{
	position: relative;
	left: 5px;
}


/* product card hover */

.product-card:hover {
	border-color: #00B207;
}

.product-card:hover .info__title{
	color: #2C742F;
}

.product-card:hover .shopping-button__image path{
	stroke :#FFFFFF;
}

.product-card:hover .shopping-button__background circle{
	fill: #00B207;
}


/* CTA - call to action block */

.product-card__cta{
	opacity: 0;
	visibility: hidden;
}

.like-icon{
	position: absolute;
	right: 23px;
	top: 15px;
	z-index: 101;
}

.like-icon-background{
	position: absolute;
	right: 13px;
	top: 5px;
}

.eye-icon{
	position: absolute;
	right: 23px;
	top: 65px;
	z-index: 101;
}

.eye-icon-background{
	position: absolute;
	right: 13px;
	top: 55px;
}


.product-card:hover .product-card__cta{
	opacity: 1;
	visibility: visible;
}




