@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header{
    width: 100%;
    height: 5px;
    background-color: #00B207;
}
.wrapper{
    overflow: clip;
    min-height: 100%;
    font-size: 0;
}

.container{
    max-width: 648px;
    margin: 0 auto 30px;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    color: #808080;
}

.text{
    margin-bottom: 20px;
}


.check-icon{
    display: inline-block;
    background-color: #00B207;
    min-width: 20px;
    min-height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    background-image: url("../img/check1.svg");
    background-repeat: no-repeat;
    background-position:50%;
}
.check-block{
    margin-bottom: 14px;
  
}

.check-block > p{
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    vertical-align:middle;
    padding-left: 8px;
}

.checkbox{
    margin-bottom: 20px;
    font-size: 0;
    
    
}
.container-hydra-contacts{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #302C42;
    padding-top: 30px;
    font-size: 0;
}

.container-hydra{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #302C42;
    padding: 40px 20px;
    font-size: 0;
}

.block-with-image{
    display: inline-block;
    position: relative;
    border-radius: 45.81% 17.95%;
    background-image: url("../img/pexels-shvets-production-7562014-2.png");
    height: 557px;
    width: 527px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hydra-text{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    width: 630px;
    vertical-align: top;
    margin-left: 108px;
    padding-top: 50px;
}

.hydra-text > h2{
    font-size: 32px;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 42px;
}

h2 > span{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.95);
}

.hydra-text > p{
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 28px;
}

button{
    width: 214px;
    height: 48px;
    flex-shrink: 0;
    color: #343045;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    cursor: pointer;
}

.contacts-form{
    margin: 0 auto;
    width: 1272px;
    height: 167px;
    border-radius: 90px;
    background: radial-gradient(ellipse 30% 150% at center top, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section{
    display: inline-block;
    width: 34%;
    vertical-align: middle;
    padding-top: 30px;
    padding-left: 40px;
}

.contact-section{
    display: inline-block;
    vertical-align: middle;

    > h3{
        font-size: 24px;
        font-weight: 700;

    }
}

.vector-line{
    background-image: url('../img/Vector5.svg');
    width: 2px;
    height: 116.5px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
}

.contact-phone{
    width: 370px;
}

.container-hydra-contacts{
    padding-bottom: 30px;
}

footer{
    width: 100%;
    height: 5px;
    background-color: green;
}
